header{
    width: 100%;
	background-color: red;
    color: white;
}

.header {
  display: flex;             /* Makes children sit side-by-side */
  align-items: center;       /* Vertically centers the divs */
}

.navbar ul{
    list-style-type: none;
    margin: 1px;
    padding: 1px;
    overflow: hidden;
}

.navbar a{
    padding: 10px;
    display: block;
    color: white;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    text-align: center;
}

.navbar a:hover{
    background-color: hsl(0,0%, 10%);
}

.navbar li{
    float: left;
}

footer{
    background-color:rgb(248,248,248);
    color: black;
    text-align: center;
    margin-top: auto;

}

body{
    font-family: 'InterFont', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.options{
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 40px;
}

.button{
    width: 300px;
    height: 300px;
    border-radius: 40px;
    object-fit: cover;
    border: 2px solid navy;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    color: black;
}

.button img{
    width: 270px;
    height: 270px;
}