@font-face {
    font-family: 'Inter';
    src: url('elements/fonts/Inter.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'GothicHead';
    src: url('elements/fonts/SpecialGothicHead.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair';
    src: url(elements/fonts/Playfair.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}